.md-grid {
  max-width: 1500px;
}

.signal-console {
    background: #012E4F !important;
    color: #E6F3FF !important;
    border-left: 4px solid #5BC0EB;
    border-radius: 4px;
}

pre.signal-console {
    background: #012E4F !important;
    color: #E6F3FF !important;
    overflow-x: auto;
    white-space: pre;
}

.signal-console pre {
    background: #012E4F !important;
    color: #E6F3FF !important;
    overflow-x: auto;
    white-space: pre;
}

.signal-console code,
.signal-console span {
    background: #012E4F !important;
    color: #E6F3FF !important;
}

.signal-console .highlight,
.signal-console .highlight pre,
.signal-console .highlight code,
.signal-console .highlight span {
    background: #012E4F !important;
    color: #E6F3FF !important;
}

.signal-console .linenos,
.signal-console .linenodiv,
.signal-console .linenodiv pre,
.signal-console td.linenos,
.signal-console td.linenos pre {
    background: #012E4F !important;
    color: #BFD9EE !important;
    border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.signal-console td.code,
.signal-console td.code pre {
    background: #012E4F !important;
    color: #E6F3FF !important;
}

.signal-console table,
.signal-console tbody,
.signal-console tr,
.signal-console td {
    background: #012E4F !important;
}

.signal-console .linenodiv pre,
.signal-console td.linenos pre,
.signal-console td.code pre {
    margin: 0 !important;
}

.signal-console .linenos,
.signal-console .linenodiv pre {
    user-select: none;
}


.signal-console .linenos a {
    pointer-events: none;
}

.signal-console .linenos a::after {
    content: attr(data-linenos);
}

.signal-console .linenos {
    color: #8FB9D6 !important;
}

.signal-console pre,
.signal-console code {
    font-size: 0.80em;
    line-height: 1.35;
}

.signal-console pre {
    font-family: "JetBrains Mono", "Fira Code", monospace;
}

.signal-console td.linenos pre span:last-child {
    display: none;
}


.md-typeset table td:nth-child(4),
.md-typeset table th:nth-child(4) {
    white-space: nowrap;
}